[Desktop Entry]
Encoding=UTF-8
Name=Link para velipso/nvqm: Numeric, Vector, Quaternion, and Matrix functions, consistent across multiple programming languages
Type=Link
URL=https://github.com/velipso/nvqm
Icon=mate-fs-bookmark
